html,
body {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
  overflow-x: hidden;
}
.form-select {
  width: 70px !important;
  border: none !important;
  outline: none !important;
}
.form-select:focus,
.form-control {
  outline: none !important;
  border-color: transparent !important; /* Border rengini saydam yap */
  box-shadow: none !important;
}
.cursorpointer {
  cursor: pointer !important;
}
.navbartop-head {
  font-size: clamp(0.75rem, 0rem + 100vw, 0.875rem) !important;
}
.shop-now:hover .right-Arrow {
  transition: transform 0.5s ease; /* Animasyon geçiş süresi ve tipi */
  transform: translateX(20px); /* Sağa kaydırma */
}

.shop-now .right-Arrow {
  transition: transform 0.5s ease; /* Animasyon geçiş süresi ve tipi */
}

.shop-now .right-Arrow:hover {
  transform: translateX(0); /* Orjinal konumuna geri getirme */
}
